<h3 class="pb-4 mb-4 border-bottom text-center">
    <span id="a1" class="text-primary">SOBRE NOSOTROS . . .</span>
    <ng-container *ngIf="validarSpeak.band">
      <button (click)="playSpeak('a1')" class="screen"><i class="fas fa-play-circle"></i></button>
      <button (click)="stopSpeak()" class="screen"><i class="fas fa-stop-circle"></i></button>
    </ng-container>
</h3>


<div class="d-flex justify-content-center">
    <div class="cajaAbout align-items-center justify-content-center">

        <h5>
           <span id="a2">Nosotros somos una plataforma 100% mexicana de pedidos y entrega de alimentos en línea lanzada por primera vez en 2021 y con sede en Aguascalientes, Ags.</span><br><br>
            <span id="a3">Los usuarios pueden leer menús, opiniones y calificaciones, ordenar y pagar por alimentos de los restaurantes participantes utilizando una aplicación en las plataformas iOS o Android, o a través de un navegador web.</span>
            <ng-container *ngIf="validarSpeak.band">
                <button (click)="playSpeak2('a2','a3')" class="screen"><i class="fas fa-play-circle"></i></button>
                <button (click)="stopSpeak()" class="screen"><i class="fas fa-stop-circle"></i></button>
            </ng-container>
        </h5>

    </div>

</div>


<div class="d-flex justify-content-center align-items-center">
    
    <div class="cajaAbout2 row no-gutters align-items-center justify-content-center">
        <div class="col-auto d-none d-lg-block">
            <div class="d-flex justify-content-center align-items-center">
                <div class="p-2"><img src="../../assets/pasteles.gif" style="width: 200px;" alt=""></div>
                <div class="p-2 rect text-center">
                    <strong id="a4"> ¡No te pierdas nuestras promociones!</strong>
                    <ng-container *ngIf="validarSpeak.band">
                        <button (click)="playSpeak('a4')" class="screen1"><i class="fas fa-play-circle"></i></button>
                        <button (click)="stopSpeak()" class="screen1"><i class="fas fa-stop-circle"></i></button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="cajaAbout2 row no-gutters align-items-center justify-content-center">
        <div class="col-auto d-none d-lg-block">
            <img src="../../assets/pastel.gif" style="width: 220px;" alt="">
            <div class="rect p-2 text-center">
               <strong id="a5"> KNDY FOOD</strong>
               <ng-container *ngIf="validarSpeak.band">
                    <button (click)="playSpeak('a5')" class="screen1"><i class="fas fa-play-circle"></i></button>
                    <button (click)="stopSpeak()" class="screen1"><i class="fas fa-stop-circle"></i></button>
                </ng-container>
            </div> 
        </div>  
    </div>

    <div class="cajaAbout2 row no-gutters align-items-center justify-content-center">
        <div class="col-auto d-none d-lg-block">
            <div class="d-flex justify-content-center align-items-start">
                <div class="p-2"><img src="../../assets/pastel.jpg" style="width: 200px;" alt=""></div>
                <div class="p-2 rect text-center">
                    <strong id="a6"> ¡Los postres mas ricos!</strong>
                    <ng-container *ngIf="validarSpeak.band">
                        <button (click)="playSpeak('a6')" class="screen1"><i class="fas fa-play-circle"></i></button>
                        <button (click)="stopSpeak()" class="screen1"><i class="fas fa-stop-circle"></i></button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

</div>
