<body class="hero-anime">
    <div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <!-- Logo -->
                        <a class="navbar-brand" [routerLink]="['home']"><img src="../../assets/jelly.png"
                                alt="logo"></a>

                        <div class=" pl-4 pl-md-0 ml-0 ml-md-4">
                            <button class="btn btn-light volumen" (click)="habilitarSpeak()"><i
                                    class="fas fa-volume-up"></i></button>
                        </div>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" [routerLink]="['home']">Inicio</a>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="d1" role="button"
                                        aria-haspopup="true" aria-expanded="false">Menú</a>
                                    <div class="dropdown-menu" id="d1">
                                        <a class="dropdown-item" [routerLink]="['menu']"
                                            (click)="accountService.cambioCategoria(1)">Pasteles.</a>
                                        <a class="dropdown-item" [routerLink]="['menu']"
                                            (click)="accountService.cambioCategoria(2)">Gelatinas.</a>
                                        <a class="dropdown-item" [routerLink]="['menu']"
                                            (click)="accountService.cambioCategoria(3)">Galletas.</a>

                                    </div>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" [routerLink]="['faq']">FAQ</a>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" [routerLink]="['contact']">Contacto</a>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" [routerLink]="['about']">Acerca de</a>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="accountService.isAdmin">
                                    <a class="nav-link" [routerLink]="['adminview']">Editar</a>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active"
                                    *ngIf="auth.user | async as user; else showLogin" id="logout">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="d2" role="button"
                                        aria-haspopup="true" aria-expanded="false">{{user.displayName}}</a>
                                    <div class="dropdown-menu" id="d2">
                                        <a class="dropdown-item">Perfil.</a>
                                        <a class="dropdown-item" (click)="accountService.logout()">Cerrar Sesión.</a>
                                    </div>

                                    <!-- Carrito -->
                                    <a class="nav-link pl-4 pl-md-0 ml-0 ml-md-4" data-toggle="modal"
                                        data-target="#cart"><i class="fa fa-shopping-cart"></i><span
                                            class="badge">{{carrito.length}}</span></a>

                                </li>
                                <ng-template #showLogin>
                                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                        <a class="nav-link" [routerLink]="['login']">Iniciar Sesión</a>
                                    </li>
                                </ng-template>

                            </ul>

                        </div>

                    </nav>

                </div>

            </div>

        </div>

    </div>
</body>
<div class="container principal">
    <router-outlet></router-outlet>
</div>

<!-- Modal de Carrito -->

<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="auth.user | async as user;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" class="text-primary" id="exampleModalLabel">Carrito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="carrito.length > 0; else emptyCart">
                    <table class="show-cart table">
                        <tr *ngFor="let producto of carrito; let i = index">
                            <td>{{producto.data.producto.data.nombre}}</td>
                            <td>${{producto.data.producto.data.precio}}</td>
                            <td>
                                <div class='input-group'>
                                    <button class='minus-item input-group-addon btn btn-primary' (click)="restProductCant(i)">-</button>
                                    <input type='number' class='item-count form-control' [value]="producto.data.cantidad" disabled>
                                    <button class='plus-item btn btn-primary input-group-addon' (click)="addProductCant(i)">+</button>
                                </div>
                            </td>
                            <td><button class='delete-item btn btn-danger' (click)="dropFromCart(i)">X</button>
                            </td>
                            <td>${{producto.data.cantidad*producto.data.producto.data.precio}}</td>
                        </tr>
                    </table>
                    <div>Total price: $<span class="total-cart"></span></div>
                </div>
                <ng-template #emptyCart>
                    <h2 class="text-primary">CARRITO VACÍO</h2>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Apartar</button>
            </div>
        </div>
    </div>
</div>

<input type="button" id="eventBtn" value="{{accountService.uid}}" (click)="getUserCart()" hidden>