.cajaCont{
    background-color: white;
    width: 90%; 
    margin: 30px;   
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin: 30px;
    margin-bottom: 90px;
}

.operador{
    width: 450px; 
    height: 500px;
}

form, table{
    margin: 40px;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.form-group input, textarea{
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
  }



.fas{
    margin-right: 30px;
}

.redes{
    background-color: #55595c;
    padding: 15px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 90px;
}

.redes .fab{
    font-size: 25px;
    color: white;
}

.redes .fa-facebook:hover{
    color: rgba(66, 183, 245, 0.8);
}

.redes .fa-instagram:hover{
    color: pink;
}

.redes .fa-twitter:hover{
    color: rgb(8, 220, 248);
}

.redes .fa-youtube:hover{
    color: red;
}

.small-red {
    color: red;
}