<h3 class="pb-4 mb-4 border-bottom text-center">
    <span class="text-primary" style="font-weight: 700;">CONTACTÁNOS</span>
</h3>

<div class="d-flex justify-content-center align-items-center ">
    <div class="cajaCont row no-gutters align-items-center">
        <div class="col-auto d-none d-lg-block">
            <img class="operador" src="../../assets/operador.gif" alt="">
        </div>
        <div class="col">
            <!--
            <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
                <h5>Tu eres lo más importante y nos gustaría saber qué piensas.</h5><br>
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" required="required" ngModel />
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" required="required" ngModel/>
                </div>
                <div class="form-group">
                  <label for="mensaje">Mensaje</label>
                  <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required="required" ngModel></textarea>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>

            </form>
            -->
            
            <form (ngSubmit)="contactForm(datosForm.value)" [formGroup]="datosForm">
                <h5>Tu eres lo más importante y nos gustaría saber qué piensas.</h5><br>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required="required" formControlName="nombre">
                    <small *ngIf="datosForm.get('nombre').errors?.required && triedDatos" class="small-red">Ingrese su nombre</small>
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" required="required" formControlName="email">
                    <small *ngIf="datosForm.get('email').errors?.required && triedDatos" class="small-red">Ingrese su correo electrónico</small>
                    <small *ngIf="datosForm.get('email').errors?.email && triedDatos" class="small-red">Ingrese un correo electrónico válido</small>
                </div>
                <div class="form-group">
                  <label for="mensaje">Mensaje</label>
                  <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required="required" formControlName="mensaje"></textarea>
                  <small *ngIf="datosForm.get('mensaje').errors?.required && triedDatos" class="small-red">Ingrese un mensaje</small>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>

            </form>


            <table>
                <tr>
                    <h5>
                        <td><i class="fas fa-phone-alt text-success"></i></td>
                        <td>449 457 11 40</td>
                    </h5>
                </tr><br>
                <tr>
                    <h5>
                        <td><i class="fas fa-envelope text-success"></i></td>
                        <td>kndyfood@gmail.com</td>
                    </h5>
                </tr><br>
                <tr>
                    <h5>
                        <td><i class="fas fa-map-marked-alt text-success"></i></td>
                        <td>Av. Aguascalientes Nte 519, Fatima, 20130 Aguascalientes, Ags.</td>
                    </h5>
                </tr>
            </table>

            <div class="redes text-center">
                <p>Encuentrános en nuestras redes sociales: </p>
                <div class="d-flex justify-content-center">
                    <div class="p-2"><a href="https://web.facebook.com/Kndy-Food-108211458158600" target="blank"><i class="fab fa-facebook"></i></a></div>
                    <div class="p-2"><a href="https://www.instagram.com/kndy_food/" target="blank"><i class="fab fa-instagram"></i></a></div>
                    <div class="p-2"><a href="https://twitter.com/FoodKndy" target="blank"><i class="fab fa-twitter"></i></a></div> 
                    <div class="p-2"><a href="https://www.youtube.com/channel/UCzFDTqWx97D8sonGYtyYzsg" target="blank"><i class="fab fa-youtube"></i></a></div>
                </div>
            </div>
        </div>

        

    </div>
</div>


