<h3 class="pb-4 mb-4 border-bottom text-center">
  <span class="text-primary" style="font-weight: 700;">MIS PEDIDOS</span>
</h3>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static" style="background-color: white;">
        <strong class="d-inline-block mb-2 text-primary">Nuestras Delicias</strong>
        <h3 class="mb-0">Gelatinas</h3>
        <p class="card-text mb-auto">Tenemos una amplia carta de gelatinas, donde encontrarás gelatinas familiares,
          infantiles y sin azúcar.</p>
        <a href="#" class="stretched-link">Ver Gelatinas..</a>
        <!--Aquí hay que mandar a gelatinas-->
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-label="Placeholder: Gelatinas" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Gelatinas</text>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static" style="background-color: white;">
        <strong class="d-inline-block mb-2 text-success">Nuestras Delicias</strong>
        <h3 class="mb-0">Galletas</h3>
        <p class="mb-auto">Tenemos galletas que verdaderamente te encantarán, son galletas crujientes pero suaves en
          sabor y para tu paladar.
        </p>
        <a href="#" class="stretched-link">Ver Galletas...</a>
        <!--Aquí hay que mandar a galletas-->
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Galletas</text>
        </svg>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- poner QR y texto "dinero gastado hasta ahora" -->