<h2 class="pb-4 mb-4 border-bottom text-center">
    <span class="text-primary" style="font-weight: 700;">CONTACTÁNOS</span>
</h2>


<div class="d-flex justify-content-center align-items-center ">
    <div class="cajaCont row no-gutters align-items-center">
        <div class="col-auto d-none d-lg-block">
            <img class="operador" src="../../assets/operador.gif" alt="">
        </div>
        <div class="col">
            <table>
                <tr>
                    <h4>
                        <td><i class="fas fa-phone-alt text-success"></i></td>
                        <td>449 457 11 40</td>
                    </h4>
                </tr><br>
                <tr>
                    <h4>
                        <td><i class="fas fa-envelope text-success"></i></td>
                        <td>kndyfood@gmail.com</td>
                    </h4>
                </tr><br>
                <tr>
                    <h4>
                        <td><i class="fas fa-map-marked-alt text-success"></i></td>
                        <td>Av Aguascalientes Nte 519, Fatima, 20130 Aguascalientes, Ags.</td>
                    </h4>
                </tr>
            </table>

            <div class="redes">
                <p>Encuentrános en nuestras redes sociales: </p>
                <div class="d-flex justify-content-center">
                    <div class="p-2"><a href=""><i class="fab fa-facebook"></i></a></div>
                    <div class="p-2"><a href=""><i class="fab fa-instagram"></i></a></div>
                    <div class="p-2"><a href=""><i class="fab fa-twitter"></i></a></div> 
                    <div class="p-2"><a href=""><i class="fab fa-youtube"></i></a></div>
                </div>
            </div>
        </div>

        

    </div>
</div>