<p>contact works!</p>
<h5>Tu eres lo más importante y nos gustaría saber qué piensas.</h5>
<form>
    <div>
    <label for="name">Nombre: </label>
    <input type="text" name="name" id="" required="required">
</div>
<div>
        <label for="email">Email: </label>
    <input type="text" name="email" required="required">
</div>

<div>

    <label for="message">Mensaje:</label> <br>
    <textarea name="message" id="" cols="30" rows="10" required="required"></textarea>
</div>
<div>
    <button type="submit">Enviar</button>
</div>

</form>
