<!-- <button class="btn btn-primary" (click)="register()">Register</button> -->

<!-- Form-->
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Inicio de sesión</h1>
    </div>
    <div class="form-content">
      <form>

        <!-- Correo -->
        <ng-container *ngIf="accountService.method=='correo'; else sms">
          <form (ngSubmit)="customLogin(newCustomLoginForm.value)" [formGroup]="newCustomLoginForm">
            <div class="form-group">
              <label for="email">Correo</label>
              <input type="text" id="email" name="email" formControlName='email' autocomplete="true" />
              <small *ngIf="newCustomLoginForm.get('email').errors?.required && triedCustomLogin" class="small-red">Ingrese su correo electrónico</small>
              <small *ngIf="newCustomLoginForm.get('email').errors?.email && triedCustomLogin" class="small-red">Ingrese un correo electrónico válido</small>
            </div>
            <div class="form-group">
              <label for="pass">Contraseña</label>
              <input type="password" id="pass" name="pass" formControlName="pass" autocomplete="true" />
              <small *ngIf="newCustomLoginForm.get('pass').errors?.required && triedCustomLogin"
                class="small-red">Ingrese su contraseña</small>
            </div>
            <br>
            <div class="form-group">
              <button type="submit">Iniciar Sesión</button>
            </div>
          </form>
          <br>
        </ng-container>
        <!-- SMS -->
        <ng-template #sms>
          <form (ngSubmit)="SMSLogin(newSMSLoginForm.value)" [formGroup]="newSMSLoginForm">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" formControlName="name" required="required"/>
              <small *ngIf="newSMSLoginForm.get('name').errors?.required && triedSMSLogin" class="small-red">Ingrese su nombre</small></div>
            <div class="form-group">
              <label for="phoneNumber">Teléfono</label>
              <input type="text" id="phoneNumber" formControlName='phoneNumber' required="required" autocomplete="true" placeholder="+524491234567"/>
              <small *ngIf="newSMSLoginForm.get('phoneNumber').errors?.required && triedSMSLogin" class="small-red">Ingrese un numero de celular</small>
              <small *ngIf="newSMSLoginForm.get('phoneNumber').errors?.minlength && triedSMSLogin" class="small-red">Ingrese un número de celular válido</small>
            </div>
            <div id="recaptcha-container"></div>
            <small *ngIf='wrongCaptcha && triedSMSLogin' class="small-red">Verifica el captcha</small>
            <br><br>
            <div class="form-group"><button type="submit">Enviar Código</button></div>
          </form>
            <br>
            <!-- Verification Code -->
            <ng-container *ngIf="!noSent">
              <div class="form-group"><label for="otp">Código de Verificación</label>
                <input type="text" id="otp" name="otp" [(ngModel)]="otp" required="required" />
               
              </div>
                <div class="form-group"><button type="button" (click)="verifyOTP()">Verificar Código</button></div>
            </ng-container>
          
        </ng-template>

        <!-- Opciones de inicio de sesión -->
        <div class="login">
          <div class="Oroption">O</div>
        </div>
        <div class="links">
          <img (click)="accountService.loginWithGoogle()" class="red-social" src="../../assets/logoGoogle.png"
            alt="Google">
          <img (click)="accountService.showSMS(); viewCaptha()" class="red-social" src="../../assets/logoSMS.png"
            alt="Correo" [hidden]="accountService.method!='correo'">
          <img (click)="accountService.showCorreo()" class="red-social" src="../../assets/logoCorreo.png" alt="SMS"
            [hidden]="accountService.method!='sms'">
        </div>
      </form>
    </div>
  </div>
  <!-- Registro -->
  <form (ngSubmit)="validateRegister(newRegisterForm.value)" [formGroup]="newRegisterForm">
    <div class="form-panel two">
      <div class="form-header">
        <h1>Registro</h1>
      </div>
      <div class="form-content">

        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" id="name" name="name" formControlName="nombre" required="required">
          <small *ngIf="newRegisterForm.get('nombre').errors && triedRegister">Ingrese un nombre</small>
        </div>
        <div class="form-group">
          <label for="emailR">Correo Electrónico</label>
          <input type="email" id="emailR" name="emailR" formControlName="correo" required="required" />
          <small *ngIf="newRegisterForm.get('correo').errors?.required && triedRegister">Ingrese un correo
            electrónico</small>
          <small *ngIf="newRegisterForm.get('correo').errors?.email && triedRegister">Ingrese un correo electrónico
            válido</small>
        </div>
        <div class="row cent">
          <div class="col-md-12 col-lg-6" style="width: 100% !important; padding-left: 0;">
            <div class="form-group" style="width: 100%;">
              <label for="password">Contraseña</label>
              <input type="password" id="password" formControlName="password" name="password" autocomplete="false">
              <small *ngIf="newRegisterForm.get('password').errors?.required && triedRegister">Ingrese una
                contraseña</small>
              <small *ngIf="newRegisterForm.get('password').errors?.minlength && triedRegister">Ingrese un correo
                electrónico</small>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 m-res" style="width: 100% !important; padding-right: 0;">
            <div class="form-group">
              <label for="cpassword">Repetir contraseña</label>
              <input type="password" id="cpassword" formControlName="password2" name="cpassword" autocomplete="false">
              <small *ngIf="newRegisterForm.get('password2').errors?.required && triedRegister">Repita su
                contraseña</small>
              <small *ngIf="newRegisterForm.get('password2').errors?.minlength && triedRegister">Ingrese una contraseña de 6 digitos</small>
              <small *ngIf="newRegisterForm.get('password2').value != newRegisterForm.get('password').value && !newRegisterForm.get('password2').errors && triedRegister">Las contraseñas no coinciden</small>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <input type="button" class="btn" value="Registrarse" (click)="validateRegister(newRegisterForm.value)" />
        </div>

      </div>
    </div>
  </form>
</div>
