/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #212112;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 200ms linear;
}

.fondo1 {
    background-image: url(assets/assortment-of-pieces-of-cake.jpg);
    /* background-position: center; */
}

.fondo2 {
    background-image: url(assets/img-footer199r.jpg);
    /* background-position: center; */
}

.gelatina {
    background-image: url(assets/gelatina199.jpg);
}

.color-black {
    color: black;
}

.caja {
    width: 200px;
    height: 250px;
    background-image: url(assets/gelatina199.jpg);
}

.caja2 {
    width: 200px;
    height: 250px;
    background-image: url(assets/galletas199.jpg);
    color: #fff;
}

.blanco {
    color: rgb(255, 255, 255);
}

.alto {
    height: 265px;
}


/* spinner */

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fondopasteles {
    background-image: url(assets/pastelesban.jpg);
}

.divflex {
    display: flex;
    margin-left: 40px;
}

.faq {
    margin: 5% 0 0 10%;
    color: black;
}