<div class="jumbotron p-4 p-md-5 rounded fondo1">
    <!--text-white -->
    <!-- bg-dark -->
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic color-balck">Para un mal día, un buen postre.</h1>
        <p class="lead my-3">¿Sabías qué? <br>Nuestros pasteles estan catalogados por muchos chefs como los mejores de lo ciudad, tienen una consistencia esponjosa y húmeda, no te puedes quedar sin probarlos.</p>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6 ">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
            <div class="col p-4 d-flex flex-column position-static " style="background-color: rgba(224, 218, 206, 0.432);">

                <strong class="d-inline-block mb-2 text-primary">Nuestras Delicias</strong>
                <h3 class="mb-0">Gelatinas</h3>
                <p class="card-text mb-auto">Tenemos una amplia carta de gelatinas, donde encontrarás gelatinas familiares, infantiles y sin azúcar.</p>
            </div>
            <div class="col-auto d-none d-lg-block ">

                <div class="caja">

                </div>
                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Gelatinas" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
         
          <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Gelatinas</text>
            
        </svg> -->

            </div>
        </div>
    </div>














    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static" style="background-color: rgba(224, 218, 206, 0.432);">
                <strong class="d-inline-block mb-2 text-success">Nuestras Delicias</strong>
                <h3 class="mb-0">Galletas</h3>
                <p class="mb-auto">Tenemos galletas que verdaderamente te encantarán, son galletas crujientes pero suaves en sabor y para tu paladar.
                </p>
            </div>
            <div class="col-auto d-none d-lg-block">

                <div class="caja2">

                </div>

                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Galletas</text>
        </svg> -->

            </div>
        </div>
    </div>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                From the Firehose
            </h3>

            <div class="blog-post">
                <h2 class="blog-post-title">Un poco de nuestra historia.</h2>
                <p class="blog-post-meta ">06 de Junio de 2021 por <a href="#">K-NDY FOOD</a></p>

                <p>K-NDY FOOD abrió sus puertas por primera vez en diciembre de 2020 en la ciudad de Aguascalientes. En la sucursal se pueden saborear dulces y finos postres hechos por los creadores con mucho amor.</p>
                <hr>
                <p>Tenemos un sueño que es que nuestra sucuarsal se convierta en muchas más y con el pasar de los años poder deleitar a cientos de generaciones y que en cada sucursal encuentren una deliciosa variedad de postres recién horneados.
                </p>
                <p>Cada mañana las personas nos visitan para tomar un café en compañía de un par de nuestras exquisitas galletas y estamos presentes en decenas de mesas de familias aguascalentences acompañandolas en sus mejores momentos y volviendolos inolvidables.</p>
                <br><br>
                <h2>Nuestra misión</h2>
                <p class="border-bottom "> Estamos dedicados a endulzar los momentos de cada invitado con nuestros productos auténticos y con enfoque humano.
                </p>
                <br><br>
                <h3>Atributos de nuestra marca.</h3><br>
                <h5><i class="fas fa-award"></i> Icónica.</h5>
                <p>Pretendemos ser la marca que endulce más momentos en los hogares aguascalentences.</p>
                <h5><i class="fas fa-people-arrows"></i> Cercana.</h5>
                <p>Estamos comprometidos en hacer sentir a nuestros clientes como en casa para compartir con ellos el sabor de la alegría.</p>
                <h5><i class="fas fa-lungs"></i> Humana.</h5>
                <p>Somos un equipo de jovenes dedicados a consentir a las personas, poniendo el toque humano en cada producto y experiencia.
                </p>
            </div>
        </div>

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">Sobre nosotros.</h4>
                <p class="mb-0">Somos un equipo de jovenes entusiastas enamorados de la respotería y enamorados de este proyecto y creemos que siempre un postre puede mejorar un mal día y de los días buenos ni hablamos. Gracias por visitar nuestra página y ser parte
                    de este proyecto lleno de amor y dulce.</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Los favoritos</h4>
                <ol class="list-unstyled mb-0">
                    <!--Aquí voy a poner nombres de postres (cuando los tengamos)-->
                    <li>Moka</li>
                    <li>Carajillo</li>
                    <li>Baileys</li>
                    <li>Roger</li>
                    <li>Cuatro Chocolates</li>
                    <li>Tisana</li>
                    <li>Jamaica Light</li>
                    <li>Cajeta Nuez</li>
                    <li>Vainilla Rompope</li>
                    <li>Cokietella</li>
                    <li>Matcookie</li>
                    <li>Salty Temptation</li>
                </ol>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Encuentrános también en...</h4>
                <ol class="list-unstyled">
                    <li><a href="https://www.instagram.com/kndy_food/">Instagram</a></li>
                    <li><a href="https://twitter.com/FoodKndy">Twitter</a></li>
                    <li><a href="https://web.facebook.com/Kndy-Food-108211458158600">Facebook</a></li>
                </ol>
            </div>
        </aside>
    </div>

</main>
<footer class="blog-footer">
    <a href="#">Regresar arriba.</a>
</footer>