.cajaAbout {
    background-color: white;
    width: 90%;
    margin: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

.cajaAbout2 {
    background-color: rgba(255, 192, 203, 0.568);
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 390px;
    height: 300px;
}

img {
    margin: 15px;
}

h5 {
    margin: 50px;
}

.rect {
    background-color: #55595c;
}

strong {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.screen {
    font-size: 22px;
    background-color: transparent;
    border: 0px;
    color: rgba(0, 0, 0, 0.5);
}

.screen:hover {
    color: rgba(40, 167, 69);
}

.screen1 {
    font-size: 22px;
    background-color: transparent;
    border: 0px;
    color: rgba(255, 255, 255, 0.705);
}

.screen1:hover {
    color: rgba(40, 167, 69);
}

#a1{
    font-weight: 600;
    font-size: 35px;
    font-family: 'Expletus Sans', cursive;
    
}

.imgLogo{
    width: 60%;
    margin-right: -20px;
}
